# Python-related ignores
__pycache__/
*.py[cod]
instance/

# Node.js-related ignores
frontend/node_modules/
frontend/dist/
*.log

# Virtual environments
venv/
env/
*.venv/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
