/* Remove margins and paddings */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Georgia", serif;
    background-image: url("./assets/bg/backgroundStadiumHd.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*{
    box-sizing: border-box;
}

